<main class="flex justify-center bg-gray-900 min-h-screen p-8">
  <div class="bg-white shadow-lg rounded-lg p-6 max-w-3/4 w-full">
    <h4 class="text-xl font-bold text-center text-gray-800 mb-2">TODO LIST</h4>

    <div class="space-y-2">
      <div>
        <label class="block text-gray-700 font-medium">Title</label>
        <input [(ngModel)]="task.title" type="text" name="title" placeholder="Enter Task Title"
          class="w-full p-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
      </div>

      <div>
        <label class="block text-gray-700 font-medium">Description</label>
        <input [(ngModel)]="task.desc" type="text" name="desc" placeholder="Enter Task Description"
          class="w-full p-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
      </div>
      <div>
        <label class="block text-gray-700 font-medium">Date</label>
        <div (click)="openDatePicker()" class="relative">
          <input #dateInput [(ngModel)]="task.date" type="date" [min]="minDate"
            class="w-full p-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 cursor-pointer">
        </div>
      </div>

      <div>
        <label class="block text-gray-700 font-medium">Priority</label>
        <div class="flex gap-4">
          <label class="flex items-center space-x-2">
            <input [(ngModel)]="task.priority" type="radio" value="High" name="priority"
              class="text-blue-600 accent-red-500 focus:ring-red-500">
            <span class="text-red-500 font-bold">High</span>
          </label>
          <label class="flex items-center space-x-2">
            <input [(ngModel)]="task.priority" type="radio" value="Low" name="priority"
              class="text-blue-600 focus:ring-blue-500">
            <span class="text-blue-500 font-bold">Low</span>
          </label>
        </div>
      </div>

      <div>
        <label class="block text-gray-700 font-medium">Task Type</label>
        <div class="flex gap-4">
          <label class="flex items-center space-x-2">
            <input [(ngModel)]="task.taskType" value="Work" type="radio" name="type"
              class="text-blue-600 focus:ring-blue-500">
            <span>Work</span>
          </label>
          <label class="flex items-center space-x-2">
            <input [(ngModel)]="task.taskType" value="Personal" type="radio" name="type"
              class="text-blue-600 focus:ring-blue-500">
            <span>Personal</span>
          </label>
        </div>
      </div>

      <button (click)="addTask()"
        class="w-full bg-gray-900 text-white py-2 rounded-lg hover:bg-gray-600 transition duration-300">
        Add Task
      </button>
    </div>

    <div class="mt-8 flex justify-between">
      <!-- WORK TASKS -->
      <div class="w-1/2 pr-2">
        <h2 class="text-xl font-semibold mb-4">Work Tasks</h2>
        @for (item of workTasks; track item.title) {
          <div class="p-4 rounded-lg shadow border-l-4 mb-4"
            [ngClass]="{
              'bg-red-100 border-red-500': item.priority === 'High' && !item.completed,
              'bg-blue-100 border-blue-500': item.priority === 'Low' && !item.completed,
              'bg-green-100 border-green-500': item.completed
            }">
            <div class="flex justify-between items-center">
              <div >
                <h3 [ngClass]="{'line-through': item.completed}" class="text-lg font-bold text-gray-800 break-words break-all">{{ item.title }}</h3>
                <p class="text-gray-600 break-words break-all">{{ item.desc }}</p>
                <p class="text-gray-600"><strong>Date:</strong> {{ item.date }}</p>
              </div>
              <div class="flex flex-col items-center gap-1">
                <input type="checkbox" (change)="toggleTaskCompletion(item)" />
                <button (click)="deleteTask(item, 'Work')" class="text-black hover:text-red-700">
                  <i class="fas fa-trash"></i> 
                </button>
                <button (click)="editTask(item)" class="text-black hover:text-blue-700">
                  <i class="fas fa-edit"></i> 
                </button>
              </div>
            </div>
          </div>
        }
      </div>

      <!-- PERSONAL TASKS -->
      <div class="w-1/2 pl-2">
        <h2 class="text-xl font-semibold mb-4">Personal Tasks</h2>
        @for (item of personalTasks; track item.title) {
          <div class="p-4 rounded-lg shadow border-l-4 mb-4"
            [ngClass]="{
              'bg-red-100 border-red-500': item.priority === 'High' && !item.completed,
              'bg-blue-100 border-blue-500': item.priority === 'Low' && !item.completed,
              'bg-green-100 border-green-500': item.completed
            }">
            <div class="flex justify-between items-center">
              <div >
                <h3 [ngClass]="{'line-through': item.completed}" class="text-lg font-bold text-gray-800 break-words break-all">{{ item.title }}</h3>
                <p class="text-gray-600 break-words break-all">{{ item.desc }}</p>
                <p class="text-gray-600"><strong>Date:</strong> {{ item.date }}</p>
              </div>
              <div class="flex flex-col items-center gap-1">
                <input type="checkbox"  (change)="toggleTaskCompletion(item)" />
              <button (click)="deleteTask(item, 'Work')" class="text-black hover:text-red-700">
                <i class="fas fa-trash"></i> 
              </button>
              <button (click)="editTask(item)" class="text-black hover:text-blue-700">
                <i class="fas fa-edit"></i> 
              </button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</main>
